/* You can add global styles to this file, and also import other style files */
body{
    background-color: whitesmoke;
    height: 100%;
}

main{
    width: 80%;
    background-color: white;
    min-height: calc(100vh - 60px);
    margin: 2rem auto 2rem auto;
    padding-bottom: 3rem;
    box-shadow: 0 1rem 2rem lightgrey;
}